* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

h2, p {
    margin: 0;
}

.phone {
    position: relative;
    width: 290px;
    height: 600px;
    display: flex;
    border: 4px solid #333;
    border-radius: 25px;
    /* background: #fff; */
    overflow: hidden;
}
.blank {
    position: absolute;
    bottom: -55%;
    left: -55%;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, #0640ff 15%, #018bfc 40%, #01b5fc 50%);
    z-index: -1;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(8px);
    border-radius: 25px;
    z-index: 0;
}

.bottom {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 15px;
}
.scroll-container {
    display: inline-block;
    width: 180px;
    margin-top: 12vh;
    margin-left: 40px;
    justify-content: center;
    text-align: left;
    height: 36px;
    vertical-align: -2px;
    font-size: 45px;
}
.scroll-item {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    position: absolute;
    font-weight:400;
    /* box-shadow: 0px 65px 25px -20px rgba(0,0,0,0.5); */
}

.scroll-item:nth-child(1) {
    animation: roll 10s linear infinite 0s;
}
.scroll-item:nth-child(2) {
    animation: roll 10s linear infinite 2s;
}
.scroll-item:nth-child(3) {
    animation: roll 10s linear infinite 4s;
}
.scroll-item:nth-child(4) {
    animation: roll 10s linear infinite 6s;
}
.scroll-item:nth-child(5) {
    animation: roll 10s linear infinite 8s;
}

.spend i {
    color: rgb(149, 85, 233);
}
.earn i {
    color: rgb(233, 164, 85);
}
.save i {
    color: rgb(85, 132, 233);
}
.pay i {
    color: rgb(223, 233, 85);
}
.invest i {
    color: rgb(186, 85, 233);
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

.logo {
    margin-left: 12px;
    margin-bottom: 10px;
}
.logo i {
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #fff; 
}

.content {
    margin-left: 12px;
    width: 70%;
}
.content h2 {
    font-size: 25px;
    font-weight: 100;
    color: #eeeeee;
    margin-bottom: 10px;
}
.content p {
    font-size: 12px;
    font-weight: 100;
    color: #b9d0da;
    margin-bottom: 10px;
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 5px
}
.cta button {
    padding: 10px 12px;
}
.btn-apple {
    border: none;
    border-radius: 25px;
    background: #fff;
}
.btn-recover {
    font-weight: 100;
    border: 1px solid rgba(206, 205, 205, 0.349);
    border-radius: 25px;
    backdrop-filter: blur(8px);
    color: #fff;
    background: #ffffff23;
}
.btn-recover:hover {
    transition: all 0.6s ease-in-out;
    background-color: rga(255, 255, 255, 0.1);
}

